@mixin scrollBox {
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-right: 1px solid rgba(0, 149, 45, 0.4);
  border-radius: 7px;

  &::-webkit-scrollbar {
    width: 3%;
  }

  &::-webkit-scrollbar-track {
    border: 0.5px solid #00c274;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb {
    background: #00c274;
    border-radius: 10px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #00eb8d;
  }
}
