.session-detail {
  margin: 30px;
  padding: 42px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 8px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
  .session-detail-top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    .special-instruction-wrapper {
    }

    .session-detail-notes-wrapper {
      width: 50%;

      .sb-notes {
        border-left: 1px solid black;
        padding: 10px;
        // height: calc(100vh - 300px) !important;
        height: 100%;
        @include scrollBox();

        .last-session-notes {
          font-size: 1.5em;
        }
      }
    }
  }
  .session-detail-bottom {
    .button-wrapper {
      margin-top: 100px;
    }
  }
  .form-group {
    justify-content: flex-start;

    .text-field {
      width: 20%;
    }
  }
}
