.session-detail {
  margin: 30px;
  padding: 42px 42px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 8px 8px 30px 3px rgba(0, 0, 0, 0.4);
  border-radius: 7px;
}