.container {
  padding: 0px 50px;
  display: grid;
  grid-template-columns: 1fr;

  .ticket-detail {
    margin: 30px;
    padding: 42px 42px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 8px 8px 30px 3px rgba(0, 0, 0, 0.4);
    border-radius: 7px;

    .ticket-detail__top {
      .ticket-detail__top__heading {
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
      }
      .markdown-container {
        font-size: 1.5rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 21px;
        max-width: calc(100vw - 673px);
      }

      .comments-container__section-title {
        font-size: 2em;
        font-family: "Ubuntu", sans-serif;
        font-weight: 700;
        color: #00c274;
        margin-bottom: 30px;
      }
      .comments-container__comment-container {
        margin: 10px 0px;
        padding: 21px;
        background-color: #f0f0f0;
        border-radius: 7px;
        font-size: 1.5em;
      }

      .comments-container__form-container {
        padding-top: 30px;

        form {
          margin-top: 50px;
        }
        .form-group {
          margin-bottom: 5px;

          label {
            color: #333333;
            text-transform: uppercase;
            font-family: "Ubuntu", sans-serif;
            font-weight: 700;
            font-size: 1.3em;
            display: flex;
            justify-content: space-between;
          }
          span {
            color: #333333;
            text-transform: uppercase;
            font-family: "Ubuntu", sans-serif;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.ticket-detail__bottom {
  margin-top: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .ticket-detail__bottom button {
    margin-left: 21px;
  }
}

.btn-primary {
  background-color: #00c274;
  border: 1px solid #00c274;
  color: #f0f0f0;
  font-weight: 900;
  font-size: 1.6em;
  padding: 6px 12px;
  border-radius: 3px;
  transition: 0.5s ease-in-out;
  outline: none;
  cursor: pointer;
}

.text-area-field {
  border-top: 2px solid transparent;
  border-right: 2px solid transparent;
  border-left: 2px solid transparent;
  border-bottom: 2px solid #00c274;
  transition: 0.5s ease-in-out;
  outline: none;
  width: calc(100% - 24px);
  font-size: 1.5em;
  padding: 12px;
  background-color: transparent;
  border-radius: 3px;
  height: 500px;
  margin-top: 20px;
  margin-bottom: 5px;
  border: 2px solid #00c274;
}

.form-group {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .text-field {
    border-top: 2px solid transparent;
    border-right: 2px solid transparent;
    border-left: 2px solid transparent;
    border-bottom: 2px solid #00c274;
    transition: 0.5s ease-in-out;
    outline: none;
    width: calc(100% - 24px);
    font-size: 1.5em;
    padding: 12px;
    background-color: transparent;
    border-radius: 3px;
    margin-bottom: 5px;

    &:focus {
      background-color: #f0fff9;
    }
  }
}
